/*
http://jsfiddle.net/VAXrL/190/
*/
.top-bar {
  z-index: 1000; }

button {
  z-index: 1000; }

canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor; }

html, body {
  height: 100%;
  background: #666666 !important; }

.note {
  font-size: 0.33em;
  color: #999; }

.heartbeat-flash {
  background: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.heartbeat-on {
  background: red;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s; }

.heartbeat-off {
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s; }

.horizontal-centered {
  margin: 0 auto;
  display: block; }

.vertical-centered-to-page {
  position: fixed;
  bottom: 50%;
  left: 0;
  width: 100%; }

.vertical-centered-to-parent {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%; }

.obligatory-list {
  font-family: Monospace;
  cursor: text;
  pointer-events: auto !important;
  color: #333333; }

.subtitle {
  color: #666666;
  line-height: 100%;
  display: inline; }

.subtitle-text-holder {
  margin-bottom: 1.5em;
  pointer-events: none;
  zoom: 1;
  filter: alpha(opacity=95);
  opacity: 0.95; }
  .subtitle-text-holder a {
    text-decoration: none;
    pointer-events: auto;
    margin-top: 0.5em; }
  .subtitle-text-holder .heading, .subtitle-text-holder p, .subtitle-text-holder li, .subtitle-text-holder ul {
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    line-height: 1.6em; }
    .ie7 .subtitle-text-holder .heading, .ie8 .subtitle-text-holder .heading, .ie9 .subtitle-text-holder .heading, .ie10 .subtitle-text-holder .heading, .ie11 .subtitle-text-holder .heading, .ie7 .subtitle-text-holder p, .ie8 .subtitle-text-holder p, .ie9 .subtitle-text-holder p, .ie10 .subtitle-text-holder p, .ie11 .subtitle-text-holder p, .ie7 .subtitle-text-holder li, .ie8 .subtitle-text-holder li, .ie9 .subtitle-text-holder li, .ie10 .subtitle-text-holder li, .ie11 .subtitle-text-holder li, .ie7 .subtitle-text-holder ul, .ie8 .subtitle-text-holder ul, .ie9 .subtitle-text-holder ul, .ie10 .subtitle-text-holder ul, .ie11 .subtitle-text-holder ul {
      background-color: white;
      /* More background colour for browsers that don't support css pointer-events */ }
  .subtitle-text-holder h3 {
    margin-bottom: 0;
    color: inherit; }
  .subtitle-text-holder span {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background-color: white;
    line-height: 1.6em;
    border-left-width: 0.5em;
    border-left-color: white;
    border-left-style: solid;
    border-right-width: 0.5em;
    border-right-color: white;
    border-right-style: solid;
    pointer-events: auto;
    cursor: pointer; }
  .subtitle-text-holder span.heading {
    font-weight: bold;
    margin-top: 1em; }
  .subtitle-text-holder li {
    border-left-width: 3em;
    border-left-color: white;
    border-left-style: solid; }
  .subtitle-text-holder .indent {
    border-left-width: 3em;
    border-left-color: white;
    border-left-style: solid;
    line-height: 100%; }
  .subtitle-text-holder a p span {
    color: darkorange; }

.remove-button-holder {
  position: absolute;
  top: -1em; }

.click-hint-holder {
  color: white;
  margin: 0.5em 7em; }

.quote {
  font-style: italic;
  border-left-width: 3em;
  border-left-color: white;
  border-left-style: solid;
  line-height: 100%; }

a {
  color: darkorange; }
  a:hover {
    color: red; }
  a:visited {
    color: darkred; }

.relative-positioned {
  position: relative; }

.single {
  text-align: center; }

.standard-single-button {
  width: 8em; }

.preloader-content {
  position: fixed;
  height: 100%;
  width: 100%;
  float: left;
  color: #c9c9c9;
  display: none; }

.transition-canvas {
  display: block; }

.world-2d canvas {
  margin: 0 auto;
  display: block; }

.el-no-effect-winsize-outer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.el-no-effect-winsize-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0; }

.navigation {
  position: absolute; }

.relative-wrapper {
  position: relative; }

.full-width-centered {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: hidden; }

.absolute-positioned {
  position: absolute; }

.absolute-positioned-content {
  position: absolute;
  top: 45px; }

.absolute-positioned-content-background {
  position: absolute;
  top: 45px;
  overflow: hidden;
  height: 100%; }

.pointer-events-none {
  /*pointer-events: none;*/ }

.visible-world-2d, .world-3d-renderer, .transition-canvas {
  margin: 0 auto;
  display: block; }

.world-3d-renderer {
  background-image: url("../img/face-ash.png");
  background-position: center top;
  background-repeat: no-repeat; }

.world-1d-centerer {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative; }

.world-1d {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -500px; }

.dimension1 {
  overflow: hidden;
  height: 100%; }

.interactive-grid {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: -45px; }

#svg-raphaeljs {
  position: absolute;
  width: 100%; }

.graph-plot-tech-general {
  color: #bb8888; }
  .graph-plot-tech-general .graph-legend-fill {
    background-color: #996666; }

.graph-plot-tech-portfolio {
  color: #88bb88; }
  .graph-plot-tech-portfolio .graph-legend-fill {
    background-color: #669966; }

.graph-plot-general {
  color: #8888bb; }
  .graph-plot-general .graph-legend-fill {
    background-color: #666699; }

.graph-info {
  position: absolute;
  top: 90px;
  font-size: 18px;
  width: 100%;
  padding-left: 1em 0;
  padding: 0 0.5em;
  line-height: 100%;
  text-transform: capitalize; }
  .graph-info .graph-layer {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0 1em; }
  .graph-info .graph-position {
    color: #595959; }
  .graph-info div, .graph-info span {
    float: left; }
  .graph-info li {
    margin-left: 1.5em; }
  .graph-info h1 {
    color: inherit; }

.graph-legend {
  position: absolute;
  bottom: -50px;
  right: 0;
  padding: 0 1em;
  color: #515151; }
  .graph-legend h3, .graph-legend h4, .graph-legend h5 {
    color: inherit;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    color: #595959; }
  .graph-legend li {
    list-style: none; }
    .graph-legend li .graph-legend-fill {
      width: 2em;
      height: 1em;
      margin-right: 0.5em;
      float: left;
      clear: both; }

/*
.graph-plot {
	h3 {
		color:inherit;
		text-transform:uppercase;
	}
}
*/
