html, body {
  height: 100%;
  background: transparent !important; }

.note {
  font-size: 0.33em;
  color: #999; }

.heartbeat-flash {
  background: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.heartbeat-on {
  background: red;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s; }

.heartbeat-off {
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s; }

.horizontal-centered {
  margin: 0 auto;
  display: block; }

.vertical-centered-to-page {
  position: fixed;
  bottom: 50%;
  left: 0;
  width: 100%; }

.vertical-centered-to-parent {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%; }

.subtitle {
  color: #333333;
  width: 100%;
  max-width: 1000px;
  min-width: 768px;
  height: 8em;
  margin: 0 auto;
  text-align: center; }

.relative-positioned {
  position: relative; }

.single {
  text-align: center; }

.standard-single-button {
  width: 8em; }

.preloader-content {
  position: fixed;
  height: 100%;
  width: 100%;
  float: left;
  color: #c9c9c9;
  display: none; }

.transitions-holder {
  pointer-events: none; }

.transition-canvas {
  z-index: 1000;
  display: block; }

.el-no-effect-winsize-outer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.el-no-effect-winsize-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0; }

.navigation {
  z-index: 9999;
  position: absolute; }

.relative-wrapper {
  position: relative; }

.full-width-centered {
  width: 100%; }

.absolute-positioned {
  position: absolute; }

.esl-stage-canvas, .world-3d-renderer, .transition-canvas {
  margin: 0 auto;
  display: block; }

.world-1d-centerer {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative; }

.world-1d {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -500px; }
