@import 'bourbon/bourbon';

$fullWidth: 1000px;
$minWidth: 768px;
$zIndexButton: 1000;
$zIndexText: 900;
$zIndexNone: 100;
$zIndexFallbackButton: 200;
$subtitleBackGroundColor: #FFFFFF;
$darkGrey: #595959;
$navBarHeight: 45px;
$col_TechGen: #BB8888;
$col_TechPort: #88BB88;
$col_Gen: #8888BB;
$col_link: #FF6347;
$col_link_visited:#DC143C;
$col_link_hover:#DC143C;
$colDrk_TechGen: #996666;
$colDrk_TechPort: #669966;
$colDrk_Gen: #666699;
$col_offwhite: #CCCCCC;
$col_bg: #666666;
$col_bg_lit: lighten($col_bg, 45%);
/*
http://jsfiddle.net/VAXrL/190/
*/

@mixin link {
	color:$col_link;
	&:hover {
		color:$col_link_hover;
	}
	&:visited {
		color:$col_link_visited;	
	}
}

$default-legacy-ie: 7 8 9 10 11 !default;

@mixin legacy-ie($versions: $default-legacy-ie) {
    $sel: ();
    @each $v in $versions {
        $sel: append($sel, unquote('.ie#{$v} &'), comma);
    }

    #{$sel} {
        @content;
    }
}

* {
	font-family: 'Ubuntu', 'Helvetica', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

$col_unselectable-topbar:#777777;
.top-bar {
	font-weight: normal !important;
	color:white !important;
	z-index: $zIndexButton;
	background: rgba(200,200,200,0.25);
	border-bottom: solid 1px #919191;
	padding-left:1em;
} 

.top-bar ul, .top-bar h1, .top-bar li {
	font-size:.95em !important;
	margin:0;
}
 .top-bar h1 {
	font-weight: normal !important;
	color:darken($col_offwhite, 10%) !important;
	padding: 0.25em 0.15em;
}

.top-bar .title-area h1 {
	margin-right:1em;
}

.top-bar-section li {
	padding-right: 0.5em;
}

.top-bar-section li a:not(.button) {
	background:transparent;
	font-weight: normal !important;
	color:white !important;
	padding-right: 0em;
	padding-left: 0em;
}

.top-bar-section ul {
	background:transparent;
}

.top-bar.expanded .title-area {
	background: transparent;
}

.top-bar-section > ul > .divider { 
	border-left: solid 1px #919191;
	border-right: solid 0px #919191;
	border-bottom: solid 0px #919191;
	border-top: solid 1px #919191;
}



.top-bar.expanded  {
background: rgba(200,200,200,0.15);
}
.top-bar-section .divider, .top-bar-section  {
	border-left: solid 1px #919191 !important;
}

button {
	z-index: $zIndexButton;
}
canvas, img {
    @include image-rendering(optimize-contrast);
 	-ms-interpolation-mode: nearest-neighbor;
}

html,body { 
	background-color: $col_bg;
	height: 100%;
}

.app-container {
	height:100%;
	min-height:100%;
}

.application {
	height:100%;
}

.bg-layer {
	height:100%;
	width:100%;
	position:fixed;
	margin:0;
	padding:0;
	background-color: transparent !important;
	background-position: left bottom;
}

$rulerLen: 30px;
$rulerLenMinor:5px;
$rulerHeight: 8px;
$rulerHeightMinor: 5px;
$rulerOriginSize: 60px;
$col_ruler: $col_bg_lit;
.origin-name {
	position: fixed;
	bottom: 22px;
	left: 43px;
	color: #BBB;
	font-size: 14px;
}

.origin-x {
	left:0;
	bottom:0;
	background-size: $rulerOriginSize $rulerOriginSize;
	/*
	@include linear-gradient( -90deg, transparent ($rulerHeight - 1), $col_ruler ($rulerHeight - 1), $col_ruler $rulerHeight, transparent $rulerHeight );
	@include radial-gradient( transparent 15px, $col_ruler 15px, $col_ruler 16px, transparent 16px );
	-webkit-animation: pulse-origin 1s linear 0s infinite alternate;
	animation: pulse-origin 1s linear 0s infinite alternate;
	
	@include radial-gradient( transparent 15px, $col_ruler 15px, $col_ruler 16px, transparent 16px );
	animation: pulse-origin 1s linear 0s infinite alternate;*/
	background-repeat: no-repeat;
	background-color:red;
    background-position:100%;
}

@-webkit-keyframes pulse-origin {
	0% {  
    	background-position:10%;
	} 
	100% {  
    	background-position:50%;
	}
}

.origin-y {
	left:0;
	bottom:0;
	background-size: $rulerOriginSize $rulerOriginSize;
	/*
	@include linear-gradient( transparent ($rulerHeight - 1 ), $col_ruler ($rulerHeight - 1), $col_ruler $rulerHeight, transparent $rulerHeight );		
	*/
	background-repeat: no-repeat;	
}

.x-ruler {
	left:$rulerHeight;
	bottom:0;
	background-size: $rulerLen $rulerHeight;
	@include linear-gradient(90deg, $col_ruler 0px, $col_ruler 2px, transparent 2px, transparent 30px);
	background-repeat: repeat-x;
}

.x-ruler-minor {
	left:$rulerHeight;
	bottom:0;
	background-size:$rulerLenMinor $rulerHeightMinor;
	@include linear-gradient(90deg, $col_ruler 0px, $col_ruler 1px, transparent 1px, transparent 5px);
	background-repeat: repeat-x;
}

.y-ruler {
	left:0;
	bottom:$rulerHeight;
	background-size: $rulerHeight $rulerLen;
	@include linear-gradient( $col_ruler 0px, $col_ruler 1px, transparent 1px, transparent 29px, $col_ruler 29px);
	background-repeat: repeat-y;
}

.y-ruler-minor {
	left:0;
	bottom:$rulerHeight;
	background-size: $rulerHeightMinor $rulerLenMinor;
	@include linear-gradient( $col_ruler 0px, $col_ruler 1px, transparent 1px, transparent 5px, $col_ruler 5px);
	background-repeat: repeat-y;
}

.note {
	font-size:0.33em;
	color:#999;
}

 
.heartbeat-flash {
	background:transparent;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	z-index: -1;
}

.heartbeat-on {
	background:red;
	-webkit-transition:background 0.4s;
	-moz-transition:background 0.4s;
	-o-transition:background 0.4s;
	transition:background 0.4s;
}

.heartbeat-off {
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}


.horizontal-centered {
	margin: 0 auto;
	display: block;
}


.vertical-centered-to-page {
	position:fixed;
	bottom: 50%;
	left:0;
	width: 100%;
}
.vertical-centered-to-parent {
	position:absolute;
	bottom: 50%;
	left:0;
	width: 100%;
}

.obligatory-list {
	font-family: Monospace;
	cursor:text;
	pointer-events:auto !important;
	color:#333333;
}


.subtitle {
	color:#666666;
	//height:8em;
	line-height:100%;
	display:inline;
}

.subtitle-text-holder {
	margin-bottom:1.25em;
	pointer-events:none;
	zoom: 1;
	.text {
		border-left: solid 0.5em $subtitleBackGroundColor;
	}
	a {
		text-decoration:none;
		pointer-events:auto;
		margin-top:0.5em;
		@include link;
		
	}
	.heading, p, li, ul {
		margin: 0px;
		padding: 0px;
		pointer-events:none;
		line-height:0em;
		@include legacy-ie {
			background-color: $subtitleBackGroundColor; /* More background colour for browsers that don't support css pointer-events */
	    }
	}
	h3,h4,h5 {
		margin:0;
		padding:0;
		color:inherit;
	}
	span {
		margin: 0px;
		padding: 0px;
		display:inline-table;
		background-color: $subtitleBackGroundColor;
		line-height:1.6em;
		border-right-width: 0.5em;
		border-right-color: $subtitleBackGroundColor;
		border-right-style: solid;
		pointer-events:auto;
		cursor: pointer;
	}
	span span {
		display: inline;
	}
	span.heading {
		font-weight:bold;
		margin-top: 1em;
		border-left-width: 0em;
	}
	li {
		border-left-width: 3em;
		border-left-color: $subtitleBackGroundColor;
		border-left-style: solid;
	}
	.indent {
		border-left-width: 3em;
		border-left-color: $subtitleBackGroundColor;
		border-left-style: solid;
		line-height:100%;
	}
	a p span {
		@include link;
		font-size:1em;
	}
	p {
		
		font-weight: inherit;
		border-left-width: 0em;
		border-left-color: $subtitleBackGroundColor;
		border-left-style: solid;
	}
}

.subtitle .subtitle-text-holder-instant{
	color:#CCCCCC;
}

$subtitleBackGroundInstantColor:#666666;
.subtitle-text-holder-instant {
	
	.text {
		border-left: solid 0.5em $subtitleBackGroundInstantColor;
	}
	a {
		
	}
	.heading, p, li, ul {
		@include legacy-ie {
			background-color: $subtitleBackGroundInstantColor; /* More background colour for browsers that don't support css pointer-events */
	    }
	}
	span {
		background-color: $subtitleBackGroundInstantColor;
		border-left-color: $subtitleBackGroundInstantColor;
		border-right-color: $subtitleBackGroundInstantColor;
		cursor: text;
	}
	li {
		border-left-color: $subtitleBackGroundInstantColor;
	}
	.indent {
		border-left-color: $subtitleBackGroundInstantColor;
	}
		p {
			border-left-color: $subtitleBackGroundInstantColor;
		}
}


$subtitleInstructionCol:#37362a;
$subtitleBackGroundInstructionColor: #eeec34;

.subtitle .subtitle-text-holder-instruction {
	color:$subtitleInstructionCol;
}

.subtitle-text-holder-instruction {
	.text {
		border-left: solid 0.5em $subtitleBackGroundInstructionColor;
	}
	a {
		
	}
	.heading, p, li, ul {
		@include legacy-ie {
			background-color: $subtitleBackGroundInstructionColor; /* More background colour for browsers that don't support css pointer-events */
	    }
	}
	span {
		background-color: $subtitleBackGroundInstructionColor;
		border-left-color: $subtitleBackGroundInstructionColor;
		border-right-color: $subtitleBackGroundInstructionColor;
		cursor: text;
	}
	li {
		border-left-color: $subtitleBackGroundInstructionColor;
	}
	.indent {
		border-left-color: $subtitleBackGroundInstructionColor;
	}
		p {
			border-left-color: $subtitleBackGroundInstructionColor;
		}
}


.remove-button-holder {
	position: absolute;
	left: -0.1em;
	top: -0.25em;
}


.quote {
	font-style:italic;
	border-left-width: 3em;
	border-left-color: $subtitleBackGroundColor;
	border-left-style: solid;
	line-height:100%;
}


.subtitle-text {
}


 
a {
	@include link;
}



.relative-positioned {
	position:relative;
}
.single {
	text-align:center;
}

.standard-single-button {
	width:8em;
}
.preloader-content {
	position: fixed;
	height: 100%;
	width: 100%;
	float: left;
	color: rgb(201, 201, 201);
	display: none;
}

.transitions-holder {

}

.transition {
}

.transition-canvas {
	display: block;
}


$visPerc: 0.6;

$hero_width: 1200px;
$hero_height: 600px;
$hero_vis_height: round($visPerc * $hero_height);


$hero_width_med: 800px;
$hero_height_med: 400px;
$hero_vis_height_med: round($visPerc * $hero_height_med);

$hero_width_small: 600px;
$hero_height_small: 300px;
$hero_vis_height_small: round($visPerc * $hero_height_small);

$gridColor:rgba(50,50,50,0.25);


.canvas-hero-holder {
	width: 100%;
	position: relative;
	pointer-events:all;
	height: $hero_vis_height - 15px;
}

.canvas-hero-holder-med {
	width: 100%;
	position: relative;
	pointer-events:all;
	height: $hero_vis_height_med;
}


.canvas-hero-holder-small {
	width: 100%;
	position: relative;
	pointer-events:all;
	height: $hero_vis_height_small;
}

.canvas-hero {
	width: $hero_width;
	height: $hero_height;
	margin-left: - $hero_width / 2;
	position: absolute;
	top: 0;
	left: 50%;
}

.canvas-hero-med {
	width: floor($hero_width_med);
	height: floor($hero_height_med);
	margin-left: - floor($hero_width_med) / 2;
	position: absolute;
	top: 0;
	left: 50%;
}


.canvas-hero-small {
	width: floor($hero_width_small);
	height: floor($hero_height_small);
	margin-left: - floor($hero_width_small) / 2;
	position: absolute;
	top: 0;
	left: 50%;
}


.background-2d-to-3d-ash {
	width:360px;
	height:360px;
} 
.bg-ash {
	background-image: url('../img/face-ash.png');
	background-position: left top;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
}

.background-2d-to-3d-question-mark {
	width:150px;
	height:240px;
}
.bg-question-mark {
	background-image: url('../img/question.png');
	background-position: left top;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
}


.el-no-effect-winsize-outer {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    overflow:hidden;
}
.el-no-effect-winsize-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align:center;
	top:0;
	left:0;
}
.navigation {
	position: absolute;
} 

.relative-wrapper {
	position:relative;
}

 
 
.full-width-centered {
  	width: 100%;
	margin: 0 auto;
	position: fixed;
	top:0;
	height:100%;
	overflow:hidden;
}

.absolute-positioned {
	position: absolute;
}

.absolute-positioned-content {
	position: absolute;
	top:45px;
}

.absolute-positioned-content-background {
	position: absolute;
	top:45px;
	overflow:hidden; 
	height: 100%;
}

.pointer-events-none {
	/*pointer-events: none;*/
	
}

.grid-zone {
}
.visible-world-2d, .transition-canvas {
	margin: 0 auto;
	display: block;
}



.world-1d-centerer {
  width: 100%;
	height:400px;
  overflow: hidden;
  position: relative;
}

.world-1d {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -500px;
}

.fade-out {
	opacity: 0;
}

.fade-in {
	opacity: 1;
}

.fader {
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
	transition: opacity 2s ease;
}


.dimension1 {
	overflow:hidden; 
	height:100%;
}
.interactive-grid {
	position: absolute;
	width:100%;
	min-height: 100%;
	top:-45px;
}

.interactive-graph-output {
	background-color: $col_bg;
	font-family:monospace;
	color:#CCCCCC;
	h3 {
		font-family:inherit;
	}
	ul, ol {
		margin-left:1.5em;
		line-height: 140%;
		list-style-type:inherit;
		ul {
			list-style-type:inherit;
			line-height: inherit;
		}
	}
}

.row-link {
	font-size:1.25em;
}
#svg-raphaeljs {
	position: absolute;
	width:100%;
}


.click-hint-holder {
	color:$subtitleBackGroundInstructionColor;
	margin:0.5em 0em;
	position: absolute;
	bottom:-0.5em;
	-webkit-animation: pulsate 0.3s ease-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% { opacity: 0.65;}
    50% {opacity: 1.0;}
    100% {opacity: 0.65;}
}

.graph-info { 
	width:100%;
	padding:0.2em 1em;
	display:none;
	.sub-heading {
		text-transform:capitalize;
	}
	.graph-layer {
		width:100%;
		position:absolute;
		left:0px;
		top:0px;
		padding: 0 1em;
	}
	.graph-position {
		color:$darkGrey;
	}
	div, span {
		float:left;
	}
	h1 {
	}
	h1.graph-position {
	}
	h3.highlight {
		color:$col_link !important;
	}

}

.graph-legend {
	display:none;
	font-family:monospace;
	position:absolute;
	bottom:-3em;
	left:1em;
	padding:1em;
	color:#333333;
	background-color:$col_bg;
	span {
		padding:0.2em;
	}
	 h3, h4, h5 {
		color:inherit;
		margin:0;
		width:100%;
		padding:0 0 0.25em 0;
		text-transform: capitalize;
		color:$darkGrey;
	}
	ul, li {
		padding:0;
		margin:0;
		li {
			list-style: none;
			.graph-legend-fill { 
				width:2em;
				height:1em;
				padding:0;
				margin:0;
				margin-right:0.5em;
				float:left;
				clear:both;
			}
		}
	}
}

.graph-plot-tech-general {
	color:$col_TechGen;
	.graph-legend-fill {
		background-color:$colDrk_TechGen;
	}
}
.graph-plot-tech-portfolio {
	color:$col_TechPort;
 	.graph-legend-fill {
		background-color:$colDrk_TechPort;
	}
}

.graph-plot-general {
	color:$col_Gen;
	.graph-legend-fill {
		background-color:$colDrk_Gen;
	}
}

/*
.graph-plot {
	h3 {
		color:inherit;
		text-transform:uppercase;
	}
}
*/




.interactive {
	cursor:pointer;
}


.scalar {

}