$fullWidth: 1000px;
$minWidth: 768px;
$zIndexButton: 1000;
$zIndexText: 900;
$zIndexNone: 100;
$zIndexFallbackButton: 200;
$subtitleBackGroundColor: #FFFFFF;
$navBarHeight: 45px;
/*
http://jsfiddle.net/VAXrL/190/
*/


$default-legacy-ie: 7 8 9 10 11 !default;

@mixin legacy-ie($versions: $default-legacy-ie) {
    $sel: ();
    @each $v in $versions {
        $sel: append($sel, unquote('.ie#{$v} &'), comma);
    }

    #{$sel} {
        @content;
    }
}
	
.top-bar {
	z-index: $zIndexButton;
} 

button {
	z-index: $zIndexButton;
}
canvas, img {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;
}

html,body { 
	height:100%; 
	background: #666666 !important;
}
 

.note {
	font-size:0.33em;
	color:#999;
}


.heartbeat-flash {
	background:transparent;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	z-index: -1;
}

.heartbeat-on {
	background:red;
	-webkit-transition:background 0.4s;
	-moz-transition:background 0.4s;
	-o-transition:background 0.4s;
	transition:background 0.4s;
}

.heartbeat-off {
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}


.horizontal-centered {
	margin: 0 auto;
	display: block;
}


.vertical-centered-to-page {
	position:fixed;
	bottom: 50%;
	left:0;
	width: 100%;
}
.vertical-centered-to-parent {
	position:absolute;
	bottom: 50%;
	left:0;
	width: 100%;
}

.obligatory-list {
	font-family: Monospace;
	cursor:text;
	pointer-events:auto !important;
	color:#333333;
}


.subtitle {
	color:#666666;
	//height:8em;
	line-height:100%;
	display:inline;
}

.subtitle-text-holder {
	margin-bottom:1.5em;
	pointer-events:none;
	zoom: 1;
	filter: alpha(opacity=95);
	opacity: 0.95;
}

.subtitle-text-holder a {
	text-decoration:none;
	pointer-events:auto;
	margin-top:0.5em;
}

.remove-button-holder {
	margin:0.5em 7em;
}
.subtitle-text-holder .heading, .subtitle-text-holder p, .subtitle-text-holder li, .subtitle-text-holder ul {
	margin: 0px;
	padding: 0px;
	pointer-events:none;
	line-height:1.6em;
	@include legacy-ie {
		background-color: $subtitleBackGroundColor; /* More background colour for browsers that don't support css pointer-events */
    }
}

.subtitle-text-holder h3 {
	margin-bottom:0;
}


.subtitle-text-holder span {
	margin: 0px;
	padding: 0px;
	display:inline-block;
	background-color: $subtitleBackGroundColor;
	line-height:1.6em;
	border-left-width: 0.5em;
	border-left-color: $subtitleBackGroundColor;
	border-left-style: solid;
	border-right-width: 0.5em;
	border-right-color: $subtitleBackGroundColor;
	border-right-style: solid;
	pointer-events:auto;
	cursor: pointer;
}	
 .subtitle-text-holder span.heading {
	font-weight:bold;
	margin-top: 1em;
}

.subtitle-text-holder li {
border-left-width: 3em;
border-left-color: $subtitleBackGroundColor;
border-left-style: solid;
}

.subtitle-text-holder .indent {
	border-left-width: 3em;
	border-left-color: $subtitleBackGroundColor;
	border-left-style: solid;
	line-height:100%;
}
.quote {
	font-style:italic;
	border-left-width: 3em;
	border-left-color: $subtitleBackGroundColor;
	border-left-style: solid;
	line-height:100%;
}
.subtitle-text-holder a p span {
	color: darkorange;
}


.subtitle-text {
}


 
a {
color:darkorange;
}

a:hover {
color:red;
}
a:visited {
color:darkred;
	
}
.relative-positioned {
	position:relative;
}
.single {
	text-align:center;
}

.standard-single-button {
	width:8em;
}
.preloader-content {
	position: fixed;
	height: 100%;
	width: 100%;
	float: left;
	color: rgb(201, 201, 201);
	display: none;
}

.transitions-holder {

}

.transition {
}

.transition-canvas {
	display: block;
}

.world-2d canvas {
	margin: 0 auto;
	display: block;
}
.el-no-effect-winsize-outer {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    overflow:hidden;
}
.el-no-effect-winsize-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align:center;
	top:0;
	left:0;
}
.navigation {
	position: absolute;
} 

.relative-wrapper {
	position:relative;
}

 
 
.full-width-centered {
  	width: 100%;
	margin: 0 auto;
	position: fixed;
	top:0;
	height:100%;
	overflow:hidden;
}

.absolute-positioned {
	position: absolute;
}

.absolute-positioned-content {
	position: absolute;
	top:45px;
}

.absolute-positioned-content-background {
	position: absolute;
	top:45px;
	overflow:hidden; 
	height: 100%;
}

.pointer-events-none {
	/*pointer-events: none;*/
	
}

.grid-zone {
}
.visible-world-2d, .world-3d-renderer, .transition-canvas {
	margin: 0 auto;
	display: block;
}
.world-3d-renderer {
background-image: url('../img/face-ash.png');
background-position: center top;
background-repeat: no-repeat;
}
.world-1d-centerer {
  width: 100%;
	height:400px;
  overflow: hidden;
  position: relative;
}

.world-1d {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -500px;
}

.dimension1 {
	overflow:hidden; 
	height:100%;
}
.interactive-grid {
	position: absolute;
	width:100%;
	min-height: 100%;
	top:-45px;
}


#svg-raphaeljs {
	position: absolute;
	width:100%;
}

.graph-plot-tech-general {
color:#CC9999;
}
.graph-plot-tech-general .graph-legend-fill {
	background-color:#996666;
}

.graph-plot-tech-portfolio {
	color:#99CC99;
}
.graph-plot-tech-portfolio .graph-legend-fill {
	background-color:#669966;
}

.graph-plot-general {
	color:#9999CC;
}
.graph-plot-general .graph-legend-fill {
	background-color:#666699;
}

.graph-plot, .graph-position {
	position:absolute;
	top:$navBarHeight;
	font-size:18px;
	width:100%;
	line-height: 100%;
	padding: 0em;
	top:90px;
	text-transform: capitalize;
}

.plot-text, .plot-heading {
	float:left;
}
 
 
.plot-text ul {
	margin-left: 1em;
}

.graph-plot h1, .graph-position h1 {
	font-size:10em;
	margin: 0;
	padding: 0;
	line-height: 80%;
	padding-right:15px;
}
.graph-plot h1, .graph-plot h3 {
	color:inherit;
	text-transform:uppercase;
}
.graph-position h1 {
	color:#595959;
	text-align:right;
}

.graph-legend h3 {
color:#595959;
margin:0;
text-align:right;
width:100%;
text-transform: uppercase;
}
.graph-legend {
	position:absolute;
	bottom: -3em;
	right: 0em;
	padding:0 1em;
	margin:0.5em;
	border: solid 0.5em #595959;
}

.graph-legend li {
	list-style: none;
}
.graph-legend-fill { 
	width:2em;
	height:1em;
	margin-right:0.5em;
	float:left;
}


.scalar {

}