$fullWidth: 1000px;
$minWidth: 768px;
$zIndexButton: 1000;
$zIndexText: 900;
$zIndexNone: 100;
$zIndexFallbackButton: 200;
$subtitleBackGroundColor: #FFFFFF;
$darkGrey: #595959;
$navBarHeight: 45px;
$col_TechGen: #BB8888;
$col_TechPort: #88BB88;
$col_Gen: #8888BB;

$colDrk_TechGen: #996666;
$colDrk_TechPort: #669966;
$colDrk_Gen: #666699;

$col_backGround: #666666;
/*
http://jsfiddle.net/VAXrL/190/
*/

$default-legacy-ie: 7 8 9 10 11 !default;

@mixin legacy-ie($versions: $default-legacy-ie) {
    $sel: ();
    @each $v in $versions {
        $sel: append($sel, unquote('.ie#{$v} &'), comma);
    }

    #{$sel} {
        @content;
    }
}
	
.top-bar {
	z-index: $zIndexButton;
} 

button {
	z-index: $zIndexButton;
}
canvas, img {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;
}

html,body { 
	height:100%; 
	background: $col_backGround !important;
}
 

.note {
	font-size:0.33em;
	color:#999;
}


.heartbeat-flash {
	background:transparent;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	z-index: -1;
}

.heartbeat-on {
	background:red;
	-webkit-transition:background 0.4s;
	-moz-transition:background 0.4s;
	-o-transition:background 0.4s;
	transition:background 0.4s;
}

.heartbeat-off {
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}


.horizontal-centered {
	margin: 0 auto;
	display: block;
}


.vertical-centered-to-page {
	position:fixed;
	bottom: 50%;
	left:0;
	width: 100%;
}
.vertical-centered-to-parent {
	position:absolute;
	bottom: 50%;
	left:0;
	width: 100%;
}

.obligatory-list {
	font-family: Monospace;
	cursor:text;
	pointer-events:auto !important;
	color:#333333;
}


.subtitle {
	color:#666666;
	//height:8em;
	line-height:100%;
	display:inline;
}

.subtitle-text-holder {
	margin-bottom:1.5em;
	pointer-events:none;
	zoom: 1;
	filter: alpha(opacity=95);
	opacity: 0.95;
	a {
		text-decoration:none;
		pointer-events:auto;
		margin-top:0.5em;
		
	}
	.heading, p, li, ul {
		margin: 0px;
		padding: 0px;
		pointer-events:none;
		line-height:1.6em;
		@include legacy-ie {
			background-color: $subtitleBackGroundColor; /* More background colour for browsers that don't support css pointer-events */
	    }
	}
	h3 {
		margin-bottom:0;
		color:inherit;
	}
	span {
		margin: 0px;
		padding: 0px;
		display:inline-block;
		background-color: $subtitleBackGroundColor;
		line-height:1.6em;
		border-left-width: 0.5em;
		border-left-color: $subtitleBackGroundColor;
		border-left-style: solid;
		border-right-width: 0.5em;
		border-right-color: $subtitleBackGroundColor;
		border-right-style: solid;
		pointer-events:auto;
		cursor: pointer;
	}
	span.heading {
		font-weight:bold;
		margin-top: 1em;
	}
	li {
		border-left-width: 3em;
		border-left-color: $subtitleBackGroundColor;
		border-left-style: solid;
	}
	.indent {
		border-left-width: 3em;
		border-left-color: $subtitleBackGroundColor;
		border-left-style: solid;
		line-height:100%;
	}
	a p span {
		color: darkorange;
	}
}


.remove-button-holder {
	position: absolute;
	top: -1em;
}

.click-hint-holder {
	color:white;
	margin:0.5em 7em;
}
.quote {
	font-style:italic;
	border-left-width: 3em;
	border-left-color: $subtitleBackGroundColor;
	border-left-style: solid;
	line-height:100%;
}


.subtitle-text {
}


 
a {
	color:darkorange;
	&:hover {
		color:red;
	}
	&:visited {
		color:darkred;	
	}
}



.relative-positioned {
	position:relative;
}
.single {
	text-align:center;
}

.standard-single-button {
	width:8em;
}
.preloader-content {
	position: fixed;
	height: 100%;
	width: 100%;
	float: left;
	color: rgb(201, 201, 201);
	display: none;
}

.transitions-holder {

}

.transition {
}

.transition-canvas {
	display: block;
}

.world-2d canvas {
	margin: 0 auto;
	display: block;
}
.el-no-effect-winsize-outer {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    overflow:hidden;
}
.el-no-effect-winsize-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align:center;
	top:0;
	left:0;
}
.navigation {
	position: absolute;
} 

.relative-wrapper {
	position:relative;
}

 
 
.full-width-centered {
  	width: 100%;
	margin: 0 auto;
	position: fixed;
	top:0;
	height:100%;
	overflow:hidden;
}

.absolute-positioned {
	position: absolute;
}

.absolute-positioned-content {
	position: absolute;
	top:45px;
}

.absolute-positioned-content-background {
	position: absolute;
	top:45px;
	overflow:hidden; 
	height: 100%;
}

.pointer-events-none {
	/*pointer-events: none;*/
	
}

.grid-zone {
}
.visible-world-2d, .world-3d-renderer, .transition-canvas {
	margin: 0 auto;
	display: block;
}
.world-3d-renderer {
background-image: url('../img/face-ash.png');
background-position: center top;
background-repeat: no-repeat;
}
.world-1d-centerer {
  width: 100%;
	height:400px;
  overflow: hidden;
  position: relative;
}

.world-1d {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -500px;
}

.dimension1 {
	overflow:hidden; 
	height:100%;
}
.interactive-grid {
	position: absolute;
	width:100%;
	min-height: 100%;
	top:-45px;
}


#svg-raphaeljs {
	position: absolute;
	width:100%;
}

.graph-plot-tech-general {
	color:$col_TechGen;
	.graph-legend-fill {
		background-color:$colDrk_TechGen;
	}
}
.graph-plot-tech-portfolio {
	color:$col_TechPort;
 	.graph-legend-fill {
		background-color:$colDrk_TechPort;
	}
}

.graph-plot-general {
	color:$col_Gen;
	.graph-legend-fill {
		background-color:$colDrk_Gen;
	}
}

.graph-info {
	position:absolute;
	top:$navBarHeight*2;
	font-size:18px;
	width:100%;
	padding-left:1em 0;
	padding:0 0.5em;
	line-height: 100%;
	text-transform: capitalize;
	.graph-layer {
		width:100%;
		position:absolute;
		left:0px;
		top:0px;
		padding: 0 1em;
	}
	.graph-position {
		color:$darkGrey;
	}
	div, span {
		float:left;
	}
	li {
		margin-left:1.5em;
	}
	h1 {
		color:inherit;
	}
	h1.graph-position {
	}

}

.graph-legend {
	position:absolute;
	bottom:-50px;
	right:0;
	padding:0 1em;
	color:darken($darkGrey, 3%);
	 h3, h4, h5 {
		color:inherit;
		margin:0;
		width:100%;
		text-transform: uppercase;
		color:$darkGrey;
	}
	li {
		list-style: none;
		.graph-legend-fill { 
			width:2em;
			height:1em;
			margin-right:0.5em;
			float:left;
			clear:both;
		}
	}
}

/*
.graph-plot {
	h3 {
		color:inherit;
		text-transform:uppercase;
	}
}
*/







.scalar {

}